.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Header {
  background-color: rgb(83, 43, 226);
  color: white !important;
  padding: 3% 0;
}

.SmurfForm, .MainCard{
  background-color: rgb(252, 252, 252);
  padding: 2% 0;
  border-radius: 10px;
  border: 1px solid lightgray;
}

.SmurfForm {
  width: 80%;
  margin: 2% 10%;
}

.MainCard {
  width: 70%;
  margin: 2% 15%;
}

.MainCard Button{
 margin-top: 3% !important;
}

.SmurfForm Button {
  margin-left: 3% !important;
}